$output-background: linear-gradient(162.21deg, #517879 4.83%, #1e3e57 103.44%);

.output {
    background: $output-background;

    .btn,
    .result {
        height: 2rem;
    }

    .result {
        width: 50%;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .btn {
        width: 20%;
    }
}
