@use '../../styles/vars';
@use '../../styles/mixins';

.output {
    border-radius: 5px;
    background: vars.$output-background;
    box-shadow: 3px 3px 4px 2px #517879;

    .result,
    .btn {
        width: 100%;
    }

    .result {
        margin: 0.75rem 0 1.5rem;
        text-align: center;
        @include mixins.font-settings(
            $size: 20px,
            $weight: 700,
            $styles: normal,
            $l-height: 35px,
            $f-color: vars.$output-text-color
        );
        text-shadow: 5px 5px 1px rgba(255, 255, 255, 0.1);
    }

    .btn {
        margin-bottom: 1rem;
        border: unset;
        background: none;
        @include mixins.font-settings(
            $f-color: vars.$output-text-color,
            $weight: 700
        );
    }
}
