@use '../../styles/vars';
@use '../../styles/mixins';

.provider {
    .field,
    .btn {
        width: 50%;
        height: 2rem;
    }

    .field {
        margin-bottom: 1.5rem;
        border: 1px solid vars.$provider-input-border-color;
        border-radius: 4px;
        box-shadow: vars.$field-shadow;
        @include mixins.font-settings(
            $size: 18px,
            $weight: 400,
            $f-color: vars.$text-color,
            $l-height: 16px
        );
    }

    .label {
        margin-bottom: 0.45rem;
        align-self: flex-start;
        position: relative;
        left: 25%;
        @include mixins.font-settings(
            $size: 16px,
            $weight: 400,
            $f-color: vars.$text-color
        );
    }

    .btn {
        border: 1px solid vars.$provider-btn-border-color;
        border-radius: 4px;
        background: vars.$btn-background;
        box-shadow: vars.$field-shadow;
        @include mixins.font-settings(
            $size: 16px,
            $weight: 700,
            $f-color: vars.$app-color,
            $l-height: 20px
        );
    }
}
