/* app variables */
$app-background: linear-gradient(120.21deg, #3e708e 11.18%, #649698 74.17%);
$app-color: #fff;

/* features variables */
$output-background: linear-gradient(162.21deg, #517879 4.83%, #1e3e57 103.44%);
