$app-background: linear-gradient(120.21deg, #3e708e 11.18%, #649698 74.17%);

* {
    box-sizing: border-box;
}

html {
    font-size: 90%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $app-background;
}

p {
    margin: 0;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}
