@use './vars';
@use './mixins';

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 90%;

    body {
        height: 100vh;
        @include mixins.d-flex;
        justify-content: center;
        background: vars.$app-background;
    }
}
