@use '../../styles/vars';
@use '../../styles/mixins';

.header {
    justify-content: center;

    h1 {
        @include mixins.font-settings(
            $size: 24px,
            $weight: 700,
            $f-color: transparent
        );
        background: vars.$heading-background;
        background-clip: text;
    }
}
