@use '../../styles/vars';

.footer {
    justify-content: space-evenly;

    .link {
        height: 2rem;
        position: relative;
        left: -5%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .copyright {
        position: relative;
        left: 12%;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        color: vars.$footer-text-color;
        line-height: 24px;
    }
}
