@use '../../styles/vars';
@use '../../styles/mixins';

.footer {
    padding: 1.5rem 1.5rem 0;
    justify-content: space-between;

    .link {
        height: 2rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .copyright {
        @include mixins.font-settings(
            $size: 16px,
            $weight: 700,
            $f-color: vars.$footer-text-color,
            $l-height: 24px
        );
    }
}
