@use './styles/vars';

.root {
    width: 50%;
    height: 80%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: vars.$app-color;
    font-size: 1.35rem;
    overflow: auto;

    .component {
        width: 100%;
        height: 33%;
        padding: 1.5rem;
        margin: 1rem 0;
        display: flex;
        align-items: center;

        .features {
            width: 100%;
            height: 100%;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            object-fit: cover;
        }
    }
}
