@use './styles/vars';
@use './styles/mixins';

.root {
    width: 29%;
    height: 78%;
    padding: 1.25rem;
    @include mixins.d-flex;
    justify-content: space-between;
    flex-direction: column;
    background: vars.$app-color;
    @include mixins.font-settings($size: 1.35rem);
    overflow: auto;

    .component {
        width: 100%;
        height: 100% / 3;
        padding: 1.5rem;
        margin: 1rem 0;
        @include mixins.d-flex;

        .features {
            width: 100%;
            height: 100%;
            padding: 1rem;
            @include mixins.d-flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}
