@use './styles/vars';
@use './styles/mixins';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: vars.$app-fonts;
    @include mixins.font-settings($size: 90%);

    body {
        height: 100vh;
        @include mixins.d-flex;
        justify-content: center;
        background: vars.$app-background;
    }
}
